<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册用户-登陆</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../static/lib/layui/css/layui.css">

    <!--    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>-->


</head>
<body>

<div class="demoTable">
    搜索用户名：
    <div class="layui-inline">
        <input class="layui-input" name="username" id="username" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>

<script type="text/html" id="currentTableBar">
    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
</script>

<table id="demo" lay-filter="test"></table>
<script src="../static/lib/layui/layui.js"></script>
<script src="../static/lib/jquery/jquery-3.4.1.min.js"></script>


<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'//表格id
            ,height: 500
            ,width: '100%'
            ,url: '/user_all' //数据接口
            ,toolbar: 'default'
            ,title: '用户信息'
            // ,pages: Math.ceil(data.length/nums)
            ,cols: [
                [ //表头
                    {field: 'zuId', title: 'id', width:80, sort: true, fixed: 'left'}
                    ,{field: 'loginName', title: '登陆账号', width:120}
                    ,{field: 'username', title: '用户名', width:100}
                    ,{field: 'phone', title: '手机号', width:100}
                    ,{field: 'email', title: '邮箱', width:100}
                    ,{field: 'genTime', title: '创建时间', width:150}
                    ,{field: 'lastLoginTime', title: '最后一次登陆时间', width:150}
                    ,{field: 'count', title: '登陆次数', width:80}
                    ,{title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line',
            id: 'testReload'
        });

        var $ = layui.$, active = {
            reload: function(){
                //获取用户名
                var username = $('#username');

                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        username:username.val().trim()

                    }
                }, 'data');
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        /*监听删除标签*/
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {

                    deleteUserByIds(data.zuId,index);
                });
            }
        });

        /*
        * 通过id删除用户信息
        * */
        function deleteUserByIds(ids,index){
            //向后台发送数据并进行添加操作
            $.ajax({
                url:"user/deleteUserById",
                type:"post",
                data:{'id':ids},
                success:function (result) {
                    //把json对象转string
                    // result=JSON.parse(result);
                    if (result.code==200){
                        layer.msg("删除成功",{
                            icon:6,
                            time:500
                        },function () {
                            parent.window.location.reload();//重新加载页面
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });
                    }else{
                        layer.msg("删除失败");
                    }
                }
            })
        }

    });
</script>
</body>
</html>